[role=button]
    background: white
    color: black
    border: unset
    border-radius: 100px
    padding: 4px 8px
    min-width: 100px
    text-decoration: none
    transition: background 0.5s ease 
    text-align: center
    position: relative
    overflow: visible
    font-size: 1rem
    outline: unset
    &:hover
        background: rgba(#000,0.8)
    &.raised
        background: rgba(#000,0.8)
        font-size: 1.2rem
        &:after
            content: ""
            width: 100%
            height: 100%
            position: absolute
            border-radius: 8px
            top: 0
            bottom: 0
            left: 0
            background: rgba(0,0,0,0.1)
            transform: rotate(-10deg)

