$accent: #41084f
$dark-background: #0d1518

@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Sacramento&display=swap')
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css')
@import "../node_modules/normalize.sass/normalize.sass"
@import "./button"
p,h1,h2,h3,h4,h5,h6,span,a,button
    font-family: 'Pacifico', sans-serif
body
  overflow-x: hidden
  &:after
    content: ""
    position: fixed
    z-index: 1100
    width: 100%
    height: 100%
    left: 0
    top: 0
    pointer-events: none
    background: rgba(115, 0, 255, 0.2)
.sticky-navbar
    position: fixed
    top: 0
    z-index: 1200
    width: 100%
nav.top-nav
    & ul
        display: flex
        margin: 0
        padding: 20px
        list-style-type: none
        & li
            margin: 0 10px
            display: inline-flex
            & a
                color: white
                text-decoration: none
                padding: 10px
                position: relative
                &:hover
                    &:after
                        transition: width 500ms ease-in-out
                        width: 100%
                &:after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    border-radius: 100px
                    width: 50%
                    height: 3px
                    background: white
                    transition: width 500ms ease-in-out
        & div.push
            flex-grow: 1
.gutter
    &.small
        min-height: 125px
.header-title
    display: block
    margin: 0 auto
    font-size: 10vw
    font-family: 'Sacramento', cursive
    text-align: center
    width: 50%
    background: rgba(0,0,0,0.4)
    color: transparent
    padding: 20px
    border-radius: 100%
    position: relative
    user-select: none
    &:hover
        &:before,&:after
            transition: all 0.5s ease
            transform: rotate(0deg) !important
        &:after
            bottom: 28%
    &:before
      user-select: none
      transition: all 0.5s ease
      color: black
      content: "Mágico"
      background: rgba(255, 0, 0, 0.5)
      position: absolute
      width: 100%
      font-size: 10vw
      top: 0
      bottom: 0
      left: 0
      border-radius: 100%
      transform: rotate(-10deg)
    &:after
      user-select: none
      transition: all 0.5s ease
      color: black
      content: "Since 1995"
      font-size: 2vw
      position: absolute
      width: 100%
      bottom: 35%
      left: 25%
      border-radius: 100%
      transform: rotate(-10deg)
        
.header-slogan
    margin-top: 64px
    position: relative
    z-index: 1200
    color: white
    display: inline-block
    text-align: center
    width: 100%
.section-cover
    min-height: 500px
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 100%
    position: absolute
    &.b-1
        background-image: url('/static/img/1.jpg')
    &.b-2
        background-image: url('/static/img/2.jpg')
    &.b-3
        background-image: url('/static/img/3.jpg')
.large-section
    position: absolute
    width: 100%
    height: 100%
    left: 0
    pointer-events: none
    &.purple
        background: rgba(115, 0, 255, 0.2)
    &.red
        background: rgba(255, 0, 0, 0.2)
.full-section
    max-height: 100vh
    min-height: 100vh
@keyframes arrow-animation
    0%
        transform: translateY(0)
    0%
        transform: translateY(30px)

.header-more-icon
    cursor: pointer
    border: 3px solid white
    margin-top: 64px
    position: absolute
    bottom: 72px
    left: 0
    right: 0
    z-index: 1200
    color: white
    display: inline-block
    text-align: center
    width: 50px
    height: 50px
    animation: arrow-animation 0.7s infinite
    animation-direction: alternate
    border-radius: 100%
    display: flex
    align-items: center
    margin: 0 auto
    justify-content: center
    flex-direction: column